countdown .days, countdown .hours, countdown .minutes, countdown .seconds {
	margin: 0 13px;
	float: left;
}
countdown ul {
	overflow: hidden;
	line-height: 43px;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	font-size: 20px;
	float: left;
	color: white;
	font-size: 26px;
}
countdown ul, countdown li {
	height: 44px;
	width: 16px;
}
countdown li {
	position: absolute;
	top: 44px;
	-webkit-transition: top 1s;
    transition: top 1s;
	left: -16px;
	text-shadow: 0 0 6px #bbb;
}
countdown li.active, countdown li.out, countdown li.in {
	left: 0;
}
countdown li.active {
	top: 0;
}
countdown li.out {
	top: -44px;
}
countdown li.in {
	top: 44px;
}
