/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */


body {
  visibility: visible;
  
   	 /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	
/*	font-size:0px;*/
}
.header{
	background-color:#2c4d92;
}
html {
visibility: hidden;
}

.img-portfolio {
    margin-bottom: 30px;
}
.controls{
	font-size:14px;	
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
	height:60%;
}
.img-responsive{
height: auto;
    max-width: 100%;	
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
	right:0px;
	left:0px;
	background-color:#1e3975;
	margin:0px;
	
}
footer p {
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	line-height:30px;
  font-size:11px;
  margin-left:20px;
  height:30px;
  margin-bottom:0px;
	
}
footer p a {
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	
}
footer p a:hoover {
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	
}

.footer {
	right:0px;
	left:0px;
	background-color:#1e3975;
	margin:0px;
	
}
.footer p {
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	line-height:30px;
  font-size:11px;
  margin-left:20px;
  height:30px;
  margin-bottom:0px;
	
}
.footer p a {
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	
}
.footer p a:hoover {
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	
}




.cont_iniziativa{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	margin-top:25px;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
	.cont_iniziativa{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	margin-top:25px;
}
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

.navbar-inverse{background-color:#1e3975;border-color:#fff}

.fixed .header {
/*.header {*/
	width: 100%;
	background-color: #2c4d92;
}

.header_teasing {
	height: 85px;
	width: 100%;
}
.header_logo {
	color: #203b73;
	font-size: 35px;
	font-family: 'esselunga';
	margin-left: -15px;
	position: relative;
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
	width:477px;
	height:85px;
	padding-left:15px;
	padding-top:15px;
}
.header_teasing_logo {
	color: #203b73;
	font-size: 35px;
	font-family: 'esselunga';
	margin-left: -15px;
	position: relative;
	width:477px;
	height:85px;
	padding-left:45px;
	padding-top:15px;
}
.header_logo a {
	color: #203b73;
	font-size: 35px;
	font-family: 'esselunga';
}
.header_logo a:hover {
	color: #203b73;
	text-decoration:none;
}
.header_teasing_bg {
	background-image: url(../images/bg_header.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 21px;
	width: 100%;
}
.header_teasing_bg_sotto {
	background-image: url(../images/header_bottom.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 21px;
	width: 100%;
}


#banner.banner-video {
    color: #fff;
}
#banner {
    background: none no-repeat scroll center bottom #ddd;
    color: #333;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.video_overlay {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}


.sopra {
 bottom:30%;
    left: 50%;
    margin-left: -30%;
    padding-left: 0;
    position: absolute;
    text-align: center;
    width: 60%;
}
.sopra h1 {
    color: #fff;
    font-family: 'futura';
    font-size: 16px;
    line-height: 55px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.sopra h1 a {
    bottom: 0px;
    left: 50%;
    margin-left: -30%;
    padding-left: 0;
    position: absolute;
    text-align: center;
    width: 60%;
   
}
.sopra h1 a:hover {
    color: #fff;
	text-decoration:none;
	opacity:0.5;
	 -webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
}

/*
.img-responsive,.thumbnail>img,.thumbnail a>img,.carousel-inner>.item>img,.carousel-inner>.item>a>img{
width:100% \9;
max-width:100%;
height:auto
}
*/

.box_count {
	width: 100%;
	height: 310px;
	background-image: url(../images/countdown.png);
	background-repeat: no-repeat;
	background-position: center -8px;
	z-index:1;
	position:relative;
	top:20px;
}
.cont_countdown{
height:137px;
width:298px;
margin-right:auto;
margin-left:auto;
position:relative;
top:32px;	
}
.titolo_newsletter h1{
	 color: #203b73;
    font-family: 'futura';
    font-size: 18px;
    line-height: 22px;
	text-align:center;
		margin-top:0px;
}
.titolo_newsletter h2{
	color: #444444;
    font-family: 'futura';
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
	text-align:center;
	margin-top:0px;
}
.titolo_newsletter{
	position:relative;
	top:80px;
}
.cont_form {
	width: 45%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	margin-bottom:60px;
}

.cont_cortesia {
	width: 620px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	margin-bottom:60px;
}

.cont_privacy {
	width: 60%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	margin-bottom:60px;
}
.titolo_count {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	color: #203b73;
	font-family: 'esselunga';
	text-align:center;
	position:relative;
	top:7px;
}
.cont_tachimetro {
	height: 44px;
	width: 249px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/tachimetro.jpg);
	background-repeat: no-repeat;
	position: relative;
	top:19px;
}
.tachimetro_campi {
	font-size: 26px;
	color: #FFF;
	text-decoration: none;
	float: left;
	height: 39px;
	width: 55px;
	margin-left: 6px;
	text-align:center;
	position:relative;
	top:4px;
}
.cont_tachimetro_desc {
	height: 44px;
	width: 249px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.tachimetro_desc {
	font-family: 'futura';
	font-size: 12px;
	color: #203b73;
	text-decoration: none;
	float: left;
	height: 39px;
	width: 55px;
	margin-left: 6px;
	text-align:center;
	position:relative;
	text-transform:uppercase;
	margin-top: 10px;
}


.carousel-control.right{right:0;left:auto;}

.carousel-control .icon-next:before{content:'\203a'}

.carousel-control{position:absolute;top:0;bottom:0;left:0;width:15%;font-size:20px;color:#fff;text-align:center;text-shadow:0 1px 2px rgba(0,0,0,.6);filter:alpha(opacity=50);opacity:.5;

}
.cont_img_visore{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.carousel-indicators{position:absolute;bottom:10%;left:50%;z-index:1000000;width:60%;padding-left:0;margin-left:-30%;text-align:center;list-style:none}

.titolo_header{
	font-size:22px;
	color:#FFF;
	font-family: 'esselunga';
	margin-top:25px;
}
.logo_youtube{
position: fixed;
    right: 0;
    top: 90px;
	z-index:1;
}

	
	.navbar-nav li a active {
		color:#f9b92b;
}


.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:hover, .navbar-inverse .navbar-nav .active a:focus {
	color:#f9b92b;
	
}
.cont_box_home{
	width:70%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:-40px;
}


.panel-default>.panel-heading{
	color: #fff;
	background-color: #203b73;
	border-color: #fff;
	text-align: center;
	font-family: 'esselunga';
	background-image: url(../images/bg_box.png);
	background-repeat: no-repeat;
	background-position: center 1px;
}
.panel-body_txt{
	text-align:center;
	font-size:20px;
	height:67px;
}
.panel-body p{
	text-align:center;
	font-size:20px;
}
.cont_tachimetro_desc {
	background: url(tachimetro-glass.png) no-repeat;
}

.contenitoreiframe {
    width: 100%;
	margin-top:139px;
	margin-left:auto;
	margin-right:auto;
}

.embed-container {
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}
			
.embed-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.fixed{
	position:fixed;
	top:0px;
	width:100%;
	z-index:2;
}



.titolo_claim {
	font-size: 52px;
	color: #203b73;
	text-decoration: none;
	font-family: "Gotham Bold";
	text-align: center;
	line-height: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #213d71;
	border-bottom-color: #213d71;
	margin-right:auto;
	margin-left:auto;
	width:800px;
	margin-top:200px;
}
.titolo_direct {
	font-size: 20px;
	color: #203b73;
	text-decoration: none;
	font-family: "Gotham Bold";
	text-align: center;
	line-height: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #213d71;
	border-bottom-color: #213d71;
	margin-right:auto;
	margin-left:auto;
	margin-top:25px;
	width:500px;
}
.cont_barra {
	height: 92px;
	width: 100%;
}
.testo_iniziativa {
	color: #213d71;
	text-align:center;
	font-size:15px;
	padding-bottom:5px;
	padding-top:40px;
	font-family: "Gotham Bold";
	line-height:17px;
}


.testo_iniziativa2 {
	color: #213d71;
	text-align:center;
	font-size:15px;
	padding-bottom:5px;
	padding-top:5px;
	font-family: "Gotham Bold";
	line-height:17px;
}
.testo_iniziativa2 img {
	max-width:100%;
}
.sotto_titolo_big_iniziativa {
	color: #e40614;
	text-align:center;
	font-size:26px;
	padding-bottom:5px;
	font-family: "Gotham Bold";
	text-transform:uppercase;
	line-height:26px;
}
.titolo_big_iniziativa {
	color: #e40614;
	text-align:center;
	font-size:53px;
	padding-top:10px;
	font-family: "Gotham Bold";
	line-height:53px;
}
.testo2_iniziativa {
	color: #213d71;
	text-align:center;
	font-size:15px;
	padding-bottom:5px;
	font-family: "Gotham Bold";
	line-height:17px;
}.testo3_iniziativa {
	color: #213d71;
	text-align:left;
	font-size:13px;
	padding-bottom:5px;
	font-family: "Gotham Bold";
	line-height:14px;
}
.testo6_iniziativa {
	color: #213d71;
	text-align:left;
	font-size:11px;
	padding-bottom:15px;
	font-family: "Gotham Bold";
	line-height:14px;
}.testo5_iniziativa {
	color: #fff;
	text-align:center;
	font-size:34px;
	padding-bottom:40px;
	font-family: "Gotham Bold";
	line-height:34px;
	text-transform:uppercase;
}.testo_gotham{
	font-size:16px;
	color:#FFF;
}.spazio{
padding-top:75px;	
}.titolo_gotham{
	font-size:23px;
	font-weight:bold;
	line-height:23px;
	margin-top:10px;
}.sotto_titolo_big_iniziativa2 {
	color: #e40614;
	text-align:center;
	font-size:18px;
	padding-bottom:5px;
	font-family: "Gotham Bold";
	text-transform:uppercase;
	line-height:18px;
}.testo4_iniziativa {
	color: #213d71;
	text-align: left;
	font-size: 15px;
	font-family: "Gotham Bold";
	line-height: 18px;
	padding-bottom: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000;
	padding-top:20px;
}
.titolo_cortesia {
	font-size: 25px;
	color: #003e7e;
	text-decoration: none;
	text-align: center;
	margin-top:80px;
}
@media (max-width:980px){
	
	.spazio{
padding-top:15px;	
}
	.testo_gotham{
	font-size:16px;
	color:#FFF;
	margin-top:20px;
}
	.titolo_direct {
	width:90%;
	font-size: 19px;
	line-height: 22px;
}
.titolo_claim {
	width:90%;
	font-size: 17px;
	line-height: 20px;
	margin-top:150px;
	padding-top:5px;
	padding-bottom:5px;
}
	.titolo_header{
	font-size:10px;
	text-align:center;
	margin:0px;
	display:none;
}
.logo_youtube{
	display:none;
}
.header_logo{
	color: #203b73;
	font-size: 35px;
	font-family: 'esselunga';
	position: relative;
	height: 45px;
	padding-top: 0px;
	text-align: center;
	background-image: url(../images/bg_page.gif);
	background-repeat: repeat;
	width:110%;
	margin-left:-5%;
}
.header_logo a {
    font-size: 27px;
}


	
	}
@media (max-width:500px){
	.panel-body_txt{
		font-size:15px;
	}
}
@media (max-width:320px){
	.titolo_cortesia {
	font-size: 15px;
	color: #003e7e;
	text-decoration: none;
	text-align: center;
	margin-top:80px;
}
		.cont_cortesia {
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	margin-bottom:60px;
}
		.sotto_titolo_big_iniziativa2 {
	text-align:left;
	font-size:13px;
	
	line-height:16px;
}
		.titolo_direct {
	font-size: 13px;
	line-height: 16px;
}
		.titolo_gotham{
	font-size:18px;
	font-weight:bold;
	line-height:18px;
	margin-top:5px;
	margin-bottom:20px;
	text-align:center;
}
		.testo5_iniziativa {
	color: #fff;
	text-align:center;
	font-size:24px;
	padding-bottom:40px;
	line-height:24px;
}
		.testo3_iniziativa {
	text-align:left;

}
		.testo2_iniziativa {
	color: #213d71;
	text-align:left;
	font-size:15px;
	padding-bottom:5px;
	font-family: "Gotham Bold";
	line-height:17px;
}
		
		.titolo_big_iniziativa {
	font-size:43px;
	line-height:43px;
	text-align:left;
}
		.sotto_titolo_big_iniziativa {
	font-size:17px;
	line-height:22px;
	text-align:left;
}
		.testo_iniziativa {
	text-align:left;
	font-size:13px;
	padding-top:20px;
	line-height:15px;
}
		.cont_barra {
	height: 92px;
	width: 100%;
	display:none;
}
		#ninja-slider li > div, #ninja-slider li > a
{
	height: 150px;
}
#ninja-slider > ul > li
{
	height:150px;
}
		.cont_box_home{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:15px;
}
	
.panel-body_txt{
	text-align:center;
	font-size:13px;
	height:40px;
}
.header_logo{
	color: #203b73;
	font-size: 35px;
	font-family: 'esselunga';
	position: relative;
	height: 85px;
	padding-top: 15px;
	text-align: center;
	background-image: url(../images/bg_page.gif);
	background-repeat: repeat;
	width:110%;
	margin-left:-5%;
}
.panel-heading h4{
	font-size:14px;	
}
.panel-body p {
    font-size: 11px;
    text-align: center;
}
	
	}


.sotto_titolo_cortesia {
	font-size: 14px;
	color: #444;
	text-decoration: none;
	text-align: center;
	margin-top:20px;
	margin-bottom:20px;
}

.titolo_privacy {
	font-size: 25px;
	color: #003e7e;
	text-decoration: none;
	text-align: left;
	margin-top:80px;
}
.sotto_titolo_privacy {
	font-size: 14px;
	color: #444;
	text-decoration: none;
	text-align: left;
	margin-top:20px;
	margin-bottom:20px;
}

.rosso{
color:#eb212e;	
}
.blu{
background-color:#213d71;
border:0px;	
}
.bluscuro{
	background-color:#193060;
border:0px;
}
.giallo{
	color:#f9b92b;	
}
.bianco{
	color:#fff;
}
.panel_titolo_bianco{
	color:#fff;
	font-size:14px;	
	padding-top:10px;
	 font-family: 'esselunga';	
}
.panel_titolo{
	font-size:14px;	
	color: #213d71;
	padding-top:10px;
	 font-family: 'esselunga';
}
.panel_sotto_titolo{
	font-size:16px;	
	padding:15px;
	line-height:21px;
}


.margine{
margin-top:45px;	
}

.testo2{
	color: #2c4d92;
	font-size:14px;
	font-family: "Gotham Bold";
	line-height:19px;
}
.bordo{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #213d71;	
	margin-top:50px;
	margin-bottom:50px;
	height:10px;
}
