@font-face {
        font-family: "Gotham Bold";
        src: url('../fonts/Gotham-Bold.eot');
        src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Bold.svg#Gotham Bold') format('svg'),
        url('../fonts/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }




@font-face {
    font-family: 'esselunga';
    src: url('../fonts/esselunga-regular-webfont.eot');
    src: url('../fonts/esselunga-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/esselunga-regular-webfont.woff') format('woff'),
         url('../fonts/esselunga-regular-webfont.ttf') format('truetype'),
         url('../fonts/esselunga-regular-webfont.svg#esselungaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futura';
    src: url('../fonts/futurastd-book.eot');
    src: url('../fonts/futurastd-book.eot') format('embedded-opentype'),
         url('../fonts/futurastd-book.woff') format('woff'),
         url('../fonts/futurastd-book.ttf') format('truetype'),
         url('../fonts/futurastd-book.svg#FuturaStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futura';
    src: url('../fonts/futurastd-bold.eot');
    src: url('../fonts/futurastd-bold.eot') format('embedded-opentype'),
         url('../fonts/futurastd-bold.woff') format('woff'),
         url('../fonts/futurastd-bold.ttf') format('truetype'),
         url('../fonts/futurastd-bold.svg#FuturaStdBold') format('svg');
    font-weight: bold;
    font-style: normal;
}