.navbar { top: 20px; }
.view-frame { margin-top: 135px; }
.youtube { position: fixed; right: 0; z-index: 2; top: 89px; }
h1 { font-size: 22px; color: #FFF; font-family: 'esselunga'; margin: 28px 0 2px 0; }
.logo { color: #203b73; font-size: 35px; font-family: 'esselunga'; margin-top: 15px; display: block; }
.logo:hover { color: #203b73; text-decoration: none; }
.banner { background: #2B4B94 url(header.jpg) no-repeat; }
.footer { right: 0px; left: 0px; background-color: #1e3975; margin: 0 0 42px 0; }
.footer p { color: #FFF; font-family: sans-serif; line-height: 30px; font-size: 11px; margin-left: 20px; height: 30px; margin-bottom: 0px; }
.footer p a { color: #FFF; text-decoration: underline; }
.navbar-toggle { float: left; margin-left: 6px; }
#map-canvas { position: absolute !important; left: 0; right: 0; top: 137px; bottom: 30px; }
@media (max-width: 460px) {
	.footer p {
		height: inherit;
		line-height: 14px;
		padding-top: 2px;
		padding-bottom: 2px;
	}
}
@media (max-width: 991px) {
	#map-canvas { top: 101px; min-height: 400px; }
	.footer { position: fixed !important; }
}
@media (max-width: 991px) {
	h1 { display: none; }
	.banner { height: 100px; }
	.youtube { top: 53px; }
	.view-frame { margin-top: 100px; }
	.navbar { top: -16px; }
	.logo { font-size: 30px; margin: 3px 0 20px; margin-bottom: 20px; }
	.navbar-nav>li>a { font-size: 15px; }
}
