body {
	background-image: url(background.gif);
}
label {
	font-weight: normal;
}
.content {
	margin-top: 70px;
}
.products {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
}
.products li {
	float: left;
	width: 244px;
}
.product {
	font-family: 'esselunga';
	font-weight: normal;
	color: #193268;
}
.product h3 {
	line-height: 14px;
	color: #1e3774;
	font-size: 12px;
	margin: 0 4px 2px 0;
	font-family: 'futura';
	font-weight: bold;
	text-transform: uppercase;
}
.product p {
	font-family: sans-serif;
	font-size: 12px;
	line-height: 15px;
}
.product .img-responsive {
	margin: 0 auto;
}
.product button {
	position: absolute;
	right: 5px;
	bottom: 5px;
	z-index: 1;
}
.product .price {
	width: 95px;
	height: 44px;
	text-indent: -10000px;
	margin-top: 5px;
}
.product .price-0-2 { background-image: url(tags/0-20.png); }
.product .price-0-3 { background-image: url(tags/0-30.png); }
.product .price-0-4 { background-image: url(tags/0-40.png); }
.product .price-0-5 { background-image: url(tags/0-50.png); }
.product .price-0-6 { background-image: url(tags/0-60.png); }
.product .price-0-7 { background-image: url(tags/0-70.png); }
.product .price-0-8 { background-image: url(tags/0-80.png); }
.product .price-0-9 { background-image: url(tags/0-90.png); }
.product .price-1 { background-image: url(tags/1.png); }
.product .price-1-2 { background-image: url(tags/1-20.png); }
.product .price-1-4 { background-image: url(tags/1-40.png); }
.product .price-1-6 { background-image: url(tags/1-60.png); }
.product .price-1-8 { background-image: url(tags/1-80.png); }
.product .price-2 { background-image: url(tags/2.png); }
.product .price-2-5 { background-image: url(tags/2-50.png); }
.product .price-3 { background-image: url(tags/3.png); }
.product .price-4 { background-image: url(tags/4.png); }
.product .price-5 { background-image: url(tags/5.png); }
.product.discount .price-0-2 { background-image: url(tags/0-20x3.png); }
.product.discount .price-0-3 { background-image: url(tags/0-30x3.png); }
.product.discount .price-0-4 { background-image: url(tags/0-40x3.png); }
.product.discount .price-0-5 { background-image: url(tags/0-50x3.png); }
.product.discount .price-0-6 { background-image: url(tags/0-60x3.png); }
.product.discount .price-0-7 { background-image: url(tags/0-70x3.png); }
.product.discount .price-0-8 { background-image: url(tags/0-80x3.png); }
.product.discount .price-0-9 { background-image: url(tags/0-90x3.png); }
.product.discount .price-1 { background-image: url(tags/1x3.png); }
.product.discount .price-1-2 { background-image: url(tags/1-20x3.png); }
.product.discount .price-1-4 { background-image: url(tags/1-40x3.png); }
.product.discount .price-1-6 { background-image: url(tags/1-60x3.png); }
.product.discount .price-1-8 { background-image: url(tags/1-80x3.png); }
.product.discount .price-2 { background-image: url(tags/2x3.png); }
.product.discount .price-2-5 { background-image: url(tags/2-50x3.png); }
/*
.product.discount .price-3 { background-image: url(tags/3x3.png); }
.product.discount .price-4 { background-image: url(tags/4x3.png); }
.product.discount .price-5 { background-image: url(tags/5x3.png); }
*/
.product .header {
	height: 90px;
	text-align: center;
	overflow: hidden;
}
.product {
	background: white;
	border: 1px solid #ddd;
	margin: 10px;
	padding: 6px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 3px 7px #eee;
}
.product:hover {
	border: 1px solid #bbb;
	box-shadow: 0 1px 2px #ddd;
}
.product:hover img {
	opacity: 0.8;
}
.product.discount {
	background: #fffdba url(x3.png) no-repeat top left;
	border: 1px solid #ee1c25;
}
.product.discount .header {
	text-align: inherit;
	margin-left: 60px;
}
.filters {
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 2;
}
.filters form {
	padding: 6px;
}
.intro {
	background: #1E3975;
	color: #fff;
	margin: 0;
	padding: 5px 9px;
	font-size: 12px;
	clear: both;
}
.intro strong {
	font-family: 'esselunga';
	font-weight: normal;
}
.note {
	background: #eee;
	margin-top: 20px;
	margin-bottom: 0;
	padding: 3px 8px;
	font-size: 11px;
}
.form-control {
	margin-right: 2px;
}
.sidebar {
	padding: 20px 40px 20px 20px;
	width: 330px;
	position: fixed;
	right: 0;
	bottom: 0;
	top: 200px;
	overflow-y: visible;
	background: url(background.gif);
}
.sidebar p {
	text-align: center;
	font-family: 'esselunga';
	text-transform: uppercase;
	color: #1e3774;
	font-size: 12px;
	line-height: 16px;
}
.cart .total {
	text-align: center;
}
.cart .total span {
	color: #e40414;
	font-size: 50px;
	font-family: 'esselunga';
	display: block;
	line-height: 30px;
}
.cart-items {
	margin: 24px 0 18px;
	padding: 0;
	list-style: none;
}
.cart-items li {
	border-bottom: 1px solid #eee;
	margin-top: 6px;
	position: relative;
	font-size: 13px;
	line-height: 15px;
	padding-bottom: 4px;
	padding-right: 30px;
	min-height: 25px;
}
.cart-items .quantity {
	font-weight: bold;
	display: inline-block;
}
.cart-items .quantity.update {
	-webkit-animation: beat 0.4s;
	-moz-animation: beat 0.4s;
	-o-animation: beat 0.4s;
	animation: beat 0.4s;
}
.cart-items button {
	position: absolute;
	right: 0;
	bottom: 5px;
}
.welcome {
	font-size: 13px;
	line-height: 15px;
	width: 210px;
	float: left;
	margin: 2px;
}
form .error {
	font-size: 13px;
	text-align: right;
	font-style: italic;
}
form .checkbox .error {
	text-align: inherit;
}
.modal-header, .modal-footer {
	border: 0 none;
}
.modal .close {
	width: 36px;
	height: 36px;
	background: url(modal-close.png) no-repeat;
	color: #fff;
	opacity: 1;
	position: absolute;
	right: -12px;
	top: -8px;
}
.modal .close span {
	margin-top: -6px;
	display: block;
}
.modal-content {
	font-family: 'futura';
	font-size: 18px;
}
.modal-content h3 {
	color: #1d3772;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.modal-content h3 strong {
	font-size: 44px;
	display: block;
}
.modal.x3 .close {
	background: url(modal-close-x3.png) no-repeat;
}
.modal.x3 .modal-content {
	border: 3px solid #e30514;
	background: #fefeb6 url(x3-modal.png) top left no-repeat;
	text-align: center;
}
.modal-title {
	font-family: 'esselunga';
	color: #1e3774;
	text-transform: uppercase;
	margin-right: 30px;
	font-size: 20px;
	padding: 0 20px;
	text-align: center;
}
@-webkit-keyframes beat {
	0%, 100% { -webkit-transform: scale(1); color: black; }
	50% { -webkit-transform: scale(2); color: #e40414; }
}
@-moz-keyframes beat {
	0%, 100% { -webkit-transform: scale(1); color: black; }
	50% { -webkit-transform: scale(2); color: #e40414; }
}
@-o-keyframes beat {
	0%, 100% { -webkit-transform: scale(1); color: black; }
	50% { -webkit-transform: scale(2); color: #e40414; }
}
@keyframes beat {
	0%, 100% { -webkit-transform: scale(1); color: black; }
	50% { -webkit-transform: scale(2); color: #e40414; }
}
.cart-controls {
	text-align: center;
}
[ng-drag], [ng-drag-clone] {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
[ng-drag] {
	position: absolute;
	top: 0;
	width: 224px;
	height: 320px;
	cursor: move;
	left: 0;
}
[ng-drop].drag-enter {
	background: white;
}
[ng-drag-clone] {
	opacity: 0.9;
	width: 224px !important;
	height: 320px !important;
	cursor: move;
}

@media (max-width: 767px) {
	.content {
		margin-top: 84px;
	}
	.sidebar {
		padding: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border: 0 none;
		z-index: 2;
	    background: #3071a9;
		-webkit-transition: background 0.2s;
	    transition: background 0.2s;
		width: inherit;
		top: inherit;
	}
	.sidebar.update {
		background: #e40414;
	}
	.cart {
		position: static;
		-webkit-transition: background 0.2s;
	    transition: background 0.2s;
	    padding: 6px;
	    width: 100%;
	}
	.cart .total label {
		font-size: 9px;
		margin: 0;
		color: white;
		text-transform: uppercase;
	}
	.cart .total span {
		font-size: 32px;
		color: white;
		display: inline;
	}
	.form-control {
		margin-bottom: 4px;
	}
	.filters button {
		margin: 6px;
	}
	.products {
		margin: 10px 0 50px 0;
	}
	.products li {
		float: inherit;
		width: inherit;
	}
	.product {
		margin: 6px 0;
		height: 85px;
	}
	.product .img-responsive {
		width: 60px;
		margin: 0;
		display: block;
		float: left;
	}
	.product .header {
		text-align: inherit;
		position: absolute;
		margin-left: 75px;
		margin-right: 90px;
	}
	.product.discount .header {
		margin-left: 75px;
	}
	.product h3 {
		line-height: 15px;
		font-size: 13px;
		font-family: sans-serif;
		font-weight: bold;
		text-transform: none;
		margin: 0;
	}
	.product button {
		bottom: 4px;
		right: 4px;
	}
	.product .price {
		position: absolute;
		right: 4px;
		top: 0;
	}
	.product.discount {
		background: #fffdba url(x3-small.png) no-repeat bottom left;
	}
	.product .price {
		background-size: 84px;
		background-repeat: no-repeat;
		background-position-x: right;
	}
	.cart .total {
		text-align: right;
		position: absolute;
		right: 10px;
		top: 5px;
	}
	.welcome {
		font-size: 15px;
		line-height: 18px;
		width: 270px;
		margin: 4px;
		padding-left: 3px;
		color: #1E3975;
	}
	.note {
		margin-bottom: 60px;
		margin-top: 0;
	}
	[ng-drag] {
		right: 0;
		bottom: 0;
		width: inherit;
		height: inherit;
	}
	[ng-drop].drag-enter {
		background: #e40414;
	}
	[ng-drag-clone] {
		width: 290px !important;
		height: 85px !important;
		margin-left: 25%;
		margin-top: 0;
	}
}
@media (max-width: 460px) {
	.content {
		margin-top: 42px;
	}
	.product h3, .product p {
		font-size: 11px;
		line-height: 13px;
	}
	.product .price {
		background-size: 78px;
	}
	.welcome {
		width: 248px;
		font-family: 'futura';
	}
	.cart .total span {
		font-size: 26px;
	}
	[ng-drag-clone] {
		margin-left: inherit;
	}
	.modal-content {
		font-size: 16px;
	}
	.modal-content h3 {
		font-size: 16px;
	}
	.modal-content h3 strong {
		font-size: 28px;
	}
	.modal-title {
		font-size: 13px;
	}
	.intro {
		display: none;
	}
}
@media (min-width: 461px) and (max-width: 767px) {
	.cart {
		-webkit-transition: background 0.2s;
	    transition: background 0.2s;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) and (max-width: 1499px) {
}
@media (min-width: 1500px) {
}
