<div class="cart">
	<div class="total">
		<label>TOTALE SCONTO CARBURANTE</label>
		<span>{{cart.getTotalPrice() | currency}}</span>
	</div>
	<ul class="cart-items">
		<li ng-repeat="item in cart.items" class="dn-bounce-left">
			<span class="quantity" animate-on-change="item.quantity">{{item.quantity}}</span>
			<span class="name">{{item.name}}</span>
			<button ng-click="cart.removeItem(item.id)" type="button" class="btn btn-primary btn-xs">
				<span class="glyphicon glyphicon-minus"></span>
			</button>
		</li>
	</ul>
	<div class="cart-controls text-right">
		<button ng-click="cart.clearItems()" type="button" class="btn btn-default btn-md">
			<span class="glyphicon glyphicon-remove"></span> Azzera
		</button>
		<button type="button" class="btn btn-default btn-md" ng-click="sendCart()">
			<span class="glyphicon glyphicon-envelope"></span> Invia
		</button>
	</div>
</div>
<div class="sidebar" animate-on-change="cart.getTotalPrice()">
	<div class="cart visible-xs-block" ng-drop="true" ng-drop-success="cart.addItem($data, 1)">
		<a href="#/store" class="btn btn-primary btn-sm">
			<span class="glyphicon glyphicon-chevron-left"></span> Indietro
		</a>
		<div class="total">
			<label>TOTALE SCONTO CARBURANTE</label>
			<span>{{cart.getTotalPrice() | currency}}</span>
		</div>
	</div>
</div>
