<timer end-time="end">
	<div class="days day{{days}}">
		<ul class="huns">
 			<li ng-class="{active:days/100<1,out:days/100>=9,in:days/100>=1 && days/100<2}">0</li>
			<li ng-class="{active:days/100>=1 && days/100<2,out:days/100<1,in:days/100>=2 && days/100<3}">1</li>
			<li ng-class="{active:days/100>=2 && days/100<3,out:days/100>=1 && days/100<2,in:days/100>=3 && days/100<4}">2</li>
			<li ng-class="{active:days/100>=3 && days/100<4,out:days/100>=2 && days/100<3,in:days/100>=4 && days/100<5}">3</li>
			<li ng-class="{active:days/100>=4 && days/100<5,out:days/100>=3 && days/100<4,in:days/100>=5 && days/100<6}">4</li>
			<li ng-class="{active:days/100>=5 && days/100<6,out:days/100>=4 && days/100<5,in:days/100>=6 && days/100<7}">5</li>
			<li ng-class="{active:days/100>=6 && days/100<7,out:days/100>=5 && days/100<6,in:days/100>=7 && days/100<8}">6</li>
			<li ng-class="{active:days/100>=7 && days/100<8,out:days/100>=6 && days/100<7,in:days/100>=8 && days/100<9}">7</li>
			<li ng-class="{active:days/100>=8 && days/100<9,out:days/100>=7 && days/100<8,in:days/100>=9}">8</li>
			<li ng-class="{active:days/100>=9,out:days/100>=8 && days/100<9,in:days/100<1}">9</li>
		</ul>
		<ul class="tens">
 			<li ng-class="{active:days%100/10<1,out:days%100/10>=9,in:days%100/10>=1 && days%100/10<2}">0</li>
			<li ng-class="{active:days%100/10>=1 && days%100/10<2,out:days%100/10<1,in:days%100/10>=2 && days%100/10<3}">1</li>
			<li ng-class="{active:days%100/10>=2 && days%100/10<3,out:days%100/10>=1 && days%100/10<2,in:days%100/10>=3 && days%100/10<4}">2</li>
			<li ng-class="{active:days%100/10>=3 && days%100/10<4,out:days%100/10>=2 && days%100/10<3,in:days%100/10>=4 && days%100/10<5}">3</li>
			<li ng-class="{active:days%100/10>=4 && days%100/10<5,out:days%100/10>=3 && days%100/10<4,in:days%100/10>=5 && days%100/10<6}">4</li>
			<li ng-class="{active:days%100/10>=5 && days%100/10<6,out:days%100/10>=4 && days%100/10<5,in:days%100/10>=6 && days%100/10<7}">4</li>
			<li ng-class="{active:days%100/10>=6 && days%100/10<7,out:days%100/10>=5 && days%100/10<6,in:days%100/10>=7 && days%100/10<8}">4</li>
			<li ng-class="{active:days%100/10>=7 && days%100/10<8,out:days%100/10>=6 && days%100/10<7,in:days%100/10>=8 && days%100/10<9}">4</li>
			<li ng-class="{active:days%100/10>=8 && days%100/10<9,out:days%100/10>=7 && days%100/10<8,in:days%100/10>=9 && days%100/10<5}">4</li>
			<li ng-class="{active:days%100/10>=9,out:days%100/10>=8 && days%100/10<9,in:days%100/10<1}">5</li>
		</ul>
		<ul class="ones">
 			<li ng-class="{active:days%10==0,out:days%10==9,in:days%10==1}">0</li>
			<li ng-class="{active:days%10==1,out:days%10==0,in:days%10==2}">1</li>
			<li ng-class="{active:days%10==2,out:days%10==1,in:days%10==3}">2</li>
			<li ng-class="{active:days%10==3,out:days%10==2,in:days%10==4}">3</li>
			<li ng-class="{active:days%10==4,out:days%10==3,in:days%10==5}">4</li>
			<li ng-class="{active:days%10==5,out:days%10==4,in:days%10==6}">5</li>
			<li ng-class="{active:days%10==6,out:days%10==5,in:days%10==7}">6</li>
			<li ng-class="{active:days%10==7,out:days%10==6,in:days%10==8}">7</li>
			<li ng-class="{active:days%10==8,out:days%10==7,in:days%10==9}">8</li>
			<li ng-class="{active:days%10==9,out:days%10==8,in:days%10==0}">9</li>
		</ul>
	</div>
	<div class="hours hour{{hours}}">
		<ul class="tens">
 			<li ng-class="{active:hours%100/10<1,out:hours%100/10>=5,in:hours%100/10>=1 && hours%100/10<2,in:hours%100/10>=1 && hours%100/10<2}">0</li>
			<li ng-class="{active:hours%100/10>=1 && hours%100/10<2,out:hours%100/10<1,in:hours%100/10>=2 && hours%100/10<3}">1</li>
			<li ng-class="{active:hours%100/10>=2 && hours%100/10<3,out:hours%100/10>=1 && hours%100/10<2,in:hours%100/10>=3 && hours%100/10<4}">2</li>
			<li ng-class="{active:hours%100/10>=3 && hours%100/10<4,out:hours%100/10>=2 && hours%100/10<3,in:hours%100/10>=4 && hours%100/10<5}">3</li>
			<li ng-class="{active:hours%100/10>=4 && hours%100/10<5,out:hours%100/10>=3 && hours%100/10<4,in:hours%100/10>=5}">4</li>
			<li ng-class="{active:hours%100/10>=5,out:hours%100/10>=4 && hours%100/10<5,in:hours%100/10<1}">5</li>
		</ul>
		<ul class="ones">
 			<li ng-class="{active:hours%10==0,out:hours%10==9,in:hours%10==1}">0</li>
			<li ng-class="{active:hours%10==1,out:hours%10==0,in:hours%10==2}">1</li>
			<li ng-class="{active:hours%10==2,out:hours%10==1,in:hours%10==3}">2</li>
			<li ng-class="{active:hours%10==3,out:hours%10==2,in:hours%10==4}">3</li>
			<li ng-class="{active:hours%10==4,out:hours%10==3,in:hours%10==5}">4</li>
			<li ng-class="{active:hours%10==5,out:hours%10==4,in:hours%10==6}">5</li>
			<li ng-class="{active:hours%10==6,out:hours%10==5,in:hours%10==7}">6</li>
			<li ng-class="{active:hours%10==7,out:hours%10==6,in:hours%10==8}">7</li>
			<li ng-class="{active:hours%10==8,out:hours%10==7,in:hours%10==9}">8</li>
			<li ng-class="{active:hours%10==9,out:hours%10==8,in:hours%10==0}">9</li>
		</ul>
	</div>
	<div class="minutes minute{{minutes}}">
		<ul class="tens">
 			<li ng-class="{active:minutes%100/10<1,out:minutes%100/10>=5,in:minutes%100/10>=1 && minutes%100/10<2,in:minutes%100/10>=1 && minutes%100/10<2}">0</li>
			<li ng-class="{active:minutes%100/10>=1 && minutes%100/10<2,out:minutes%100/10<1,in:minutes%100/10>=2 && minutes%100/10<3}">1</li>
			<li ng-class="{active:minutes%100/10>=2 && minutes%100/10<3,out:minutes%100/10>=1 && minutes%100/10<2,in:minutes%100/10>=3 && minutes%100/10<4}">2</li>
			<li ng-class="{active:minutes%100/10>=3 && minutes%100/10<4,out:minutes%100/10>=2 && minutes%100/10<3,in:minutes%100/10>=4 && minutes%100/10<5}">3</li>
			<li ng-class="{active:minutes%100/10>=4 && minutes%100/10<5,out:minutes%100/10>=3 && minutes%100/10<4,in:minutes%100/10>=5}">4</li>
			<li ng-class="{active:minutes%100/10>=5,out:minutes%100/10>=4 && minutes%100/10<5,in:minutes%100/10<1}">5</li>
		</ul>
		<ul class="ones">
 			<li ng-class="{active:minutes%10==0,out:minutes%10==9,in:minutes%10==1}">0</li>
			<li ng-class="{active:minutes%10==1,out:minutes%10==0,in:minutes%10==2}">1</li>
			<li ng-class="{active:minutes%10==2,out:minutes%10==1,in:minutes%10==3}">2</li>
			<li ng-class="{active:minutes%10==3,out:minutes%10==2,in:minutes%10==4}">3</li>
			<li ng-class="{active:minutes%10==4,out:minutes%10==3,in:minutes%10==5}">4</li>
			<li ng-class="{active:minutes%10==5,out:minutes%10==4,in:minutes%10==6}">5</li>
			<li ng-class="{active:minutes%10==6,out:minutes%10==5,in:minutes%10==7}">6</li>
			<li ng-class="{active:minutes%10==7,out:minutes%10==6,in:minutes%10==8}">7</li>
			<li ng-class="{active:minutes%10==8,out:minutes%10==7,in:minutes%10==9}">8</li>
			<li ng-class="{active:minutes%10==9,out:minutes%10==8,in:minutes%10==0}">9</li>
		</ul>
	</div>
	<div class="seconds second{{seconds}}">
		<ul class="tens">
 			<li ng-class="{active:seconds%100/10<1,out:seconds%100/10>=5,in:seconds%100/10>=1 && seconds%100/10<2,in:seconds%100/10>=1 && seconds%100/10<2}">0</li>
			<li ng-class="{active:seconds%100/10>=1 && seconds%100/10<2,out:seconds%100/10<1,in:seconds%100/10>=2 && seconds%100/10<3}">1</li>
			<li ng-class="{active:seconds%100/10>=2 && seconds%100/10<3,out:seconds%100/10>=1 && seconds%100/10<2,in:seconds%100/10>=3 && seconds%100/10<4}">2</li>
			<li ng-class="{active:seconds%100/10>=3 && seconds%100/10<4,out:seconds%100/10>=2 && seconds%100/10<3,in:seconds%100/10>=4 && seconds%100/10<5}">3</li>
			<li ng-class="{active:seconds%100/10>=4 && seconds%100/10<5,out:seconds%100/10>=3 && seconds%100/10<4,in:seconds%100/10>=5}">4</li>
			<li ng-class="{active:seconds%100/10>=5,out:seconds%100/10>=4 && seconds%100/10<5,in:seconds%100/10<1}">5</li>
		</ul>
		<ul class="ones">
 			<li ng-class="{active:seconds%10==0,out:seconds%10==9,in:seconds%10==1}">0</li>
			<li ng-class="{active:seconds%10==1,out:seconds%10==0,in:seconds%10==2}">1</li>
			<li ng-class="{active:seconds%10==2,out:seconds%10==1,in:seconds%10==3}">2</li>
			<li ng-class="{active:seconds%10==3,out:seconds%10==2,in:seconds%10==4}">3</li>
			<li ng-class="{active:seconds%10==4,out:seconds%10==3,in:seconds%10==5}">4</li>
			<li ng-class="{active:seconds%10==5,out:seconds%10==4,in:seconds%10==6}">5</li>
			<li ng-class="{active:seconds%10==6,out:seconds%10==5,in:seconds%10==7}">6</li>
			<li ng-class="{active:seconds%10==7,out:seconds%10==6,in:seconds%10==8}">7</li>
			<li ng-class="{active:seconds%10==8,out:seconds%10==7,in:seconds%10==9}">8</li>
			<li ng-class="{active:seconds%10==9,out:seconds%10==8,in:seconds%10==0}">9</li>
		</ul>
	</div>
</timer>
