<div class="header">
	<h3>{{storeProduct.name}}</h3>
	<p>{{storeProduct.description}}</p>
</div>
<img alt="{{storeProduct.name}}" ng-src="images/products/product{{storeProduct.id}}.png" class="img-responsive"/>
<div class="price price-{{storeProduct.price.toString().replace('.', '-')}}">
	{{storeProduct.price | currency}}
</div>
