<div class="row filters hidden-xs">
	<form class="form-inline">
		<select name="priceRange" ng-model="priceRange" class="form-control" ng-change="changeRange()">
			<option ng-repeat="range in priceRanges" value="{{$index}}">{{range.label}}</option>
		</select>
		<select name="category" ng-model="search.category" ng-options="item.value as item.label for item in categories" class="form-control" null-is-undefined>
			<option value="">Mostra tutte le categorie</option>
		</select>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="showDiscount"/>
				Mostra solo i "triplica lo sconto"
			</label>
		</div>
	</form>
	<p class="intro">Velocizza la raccolta di <strong>sconto carburante</strong> con gli oltre 800 prodotti che trovi in negozio. Con molti di questi puoi anche <strong>triplicare lo sconto*</strong>!</p>
</div>
<div class="row filters visible-xs-block">
	<form class="form-inline collapse">
		<select name="priceRange" ng-model="priceRange" class="form-control" ng-change="changeRange()">
			<option ng-repeat="range in priceRanges" value="{{$index}}">{{range.label}}</option>
		</select>
		<select name="category" ng-model="search.category" ng-options="item.value as item.label for item in categories" class="form-control input-sm" null-is-undefined>
			<option value="">Mostra tutte le categorie</option>
		</select>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="showDiscount"/>
				Mostra solo i "triplica lo sconto"
			</label>
		</div>
	</form>
	<p class="welcome">Seleziona i prodotti* della tua spesa e calcola lo sconto carburante</p>
	<button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="collapse" data-target=".filters form.collapse">
		<span class="glyphicon glyphicon-chevron-down"></span> Filtri
	</button>
	<p class="intro">Velocizza la raccolta di <strong>sconto carburante</strong> con gli oltre 800 prodotti che trovi in negozio. Con molti di questi puoi anche <strong>triplicare lo sconto*</strong>!</p>
</div>
<div class="row content">
	<div class="col-sm-8 col-lg-9">
		<ul class="products">
			<li ng-repeat="product in store.products | filter:search:true | priceFilter:this" ng-hide="showDiscount && !product.discount" class="dn-flip-x">
				<div class="product" ng-class="{discount:product.discount}">
					<ss-product product="product"></ss-product>
					<button ng-click="cart.addItem(product, 1)" type="button" class="btn btn-primary btn-sm">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
					<div ng-drag="true" ng-drag-data="product"></div>
				</div>
			</li>
		</ul>
	</div>
	<div class="col-sm-4 col-lg-3">
		<div class="sidebar" animate-on-change="cart.getTotalPrice()" ng-drop="true" ng-drop-success="cart.addItem($data, 1)">
			<p class="hidden-xs">Seleziona i prodotti* in promozione, calcola lo sconto carburante e invia la lista alla tua casella di posta per averla sempre con te</p>
			<div class="cart hidden-xs">
				<div class="total">
					<label>TOTALE SCONTO CARBURANTE</label>
					<span>{{cart.getTotalPrice() | currency}}</span>
				</div>
				<ul class="cart-items">
					<li ng-repeat="item in cart.items" class="dn-bounce-left">
						<span class="quantity" animate-on-change="item.quantity">{{item.quantity}}</span>
						<span class="name">{{item.name}}</span>
						<button ng-click="cart.removeItem(item.id)" type="button" class="btn btn-primary btn-xs">
							<span class="glyphicon glyphicon-minus"></span>
						</button>
					</li>
				</ul>
				<div class="cart-controls text-right">
					<button ng-click="cart.clearItems()" type="button" class="btn btn-default btn-md">
						<span class="glyphicon glyphicon-remove"></span> Azzera
					</button>
					<button type="button" class="btn btn-default btn-md" ng-click="sendCart()">
						<span class="glyphicon glyphicon-envelope"></span> Invia
					</button>
				</div>
			</div>
			<div class="cart visible-xs-block">
				<a href="#/store/cart" class="btn btn-primary btn-sm">
					<span class="glyphicon glyphicon-shopping-cart"></span> Carrello
				</a>
				<div class="total">
					<label>TOTALE SCONTO<br/>CARBURANTE</label>
					<span>{{cart.getTotalPrice() | currency}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="note row">*Esempi di prodotti in promozione dal 25 settembre all'8 ottobre 2014 - 2&#176;	appuntamento. Il numero di prodotti in promozione potrebbe variare in relazione alle dimensioni del negozio.</p>
<div ng-drag-clone="" class="product" ng-class="{discount:clonedData.discount}">
	<ss-product product="clonedData"></ss-product>
	<button type="button" class="btn btn-primary btn-sm">
		<span class="glyphicon glyphicon-plus"></span>
	</button>
</div>


