<!doctype html>
<html lang="en" ng-app="intro">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Esselunga - Se ami la convenienza, vieni a fare il pieno</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/countdown.css">
	<link rel="stylesheet" href="css/font.css"/>
	<link rel="stylesheet" href="css/esselunga.css">
	<link rel="stylesheet" href="css/prodotti.css"/>
	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-timer/dist/angular-timer.js"></script>
	<script type="text/javascript">
		angular.module('intro', ['timer']).
		
			controller('subscriptionController', ['$scope', '$http', function($scope, $http) {
				$scope.master = {};
				$scope.submit = function(form) {
					$scope.master = angular.copy(form);
		    		$http.post('subscribe.php', {email: form.email})
						.success(function(data) {
							if (data.success) {
	                			$scope.successMessage = data.success;
		    				} else if (data.error) {
		                		$scope.errorMessage = data.error;
		    				} else {
		            			$scope.errorMessage = 'Impossibile registrarsi, riprovare più tardi.';
		    				}
		        		})
		        		.error(function(data) {
		        			$scope.errorMessage = 'Impossibile registrarsi, riprovare più tardi.';
		        		});
				};
				$scope.reset = function() {
					$scope.form = angular.copy($scope.master);
				};
				$scope.isUnchanged = function(form) {
					return angular.equals(form, $scope.master);
				};
				$scope.reset();
			}]).

			directive('countdown', function() {
				return {
					restrict: 'E',
					templateUrl: 'partials/countdown.html',
					scope: { end: '=' }
				};
			});
	</script>
</head>
<body>
	<div class="banner navbar-fixed-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2">
					<a class="logo" href="index.php">ESSELUNGA®</a>
				</div>
				<div class="col-sm-10 text-center">
					<h1>SE AMI LA CONVENIENZA, VIENI A FARE IL PIENO</h1>
				</div>
			</div>
		</div>
		<a class="youtube" href="https://www.youtube.com/EsselungaChannel" target="_blank">
			<img src="images/logo_youtube.png" width="36" height="42"/>
		</a>
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">
	                    <li class="active">
	                        <a href="index.php">HOME</a>
	                    </li>
	                    <li>
	                        <a href="prodotti.html">PRODOTTI IN PROMOZIONE</a>
	                    </li>
	                    <li>
	                        <a href="mappa.html">Trova le stazioni Q8 e shell</a>
	                    </li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container view-frame">
		<div class="box_count">
			<div class="cont_countdown">
				<div class="titolo_count">Alla partenza mancano</div>
				<div class="cont_tachimetro">
					<countdown end="1420070400000"></countdown>
					<div class="cont_tachimetro_desc">
						<div class="tachimetro_desc">giorni</div>
						<div class="tachimetro_desc">ore</div>
						<div class="tachimetro_desc">minuti</div>
						<div class="tachimetro_desc">secondi</div>
					</div>
				</div>
			</div>
			<div class="titolo_newsletter">
				<h1>Vuoi essere il primo a partire?</h1>
				<h2>Inserisci il tuo indirizzo email per rimanere sempre aggiornato sull'iniziativa</h2>
			</div>
		</div>
		<div class="cont_form">
			<div class="row">
	            <div class="col-md-12">
					<div ng-controller="subscriptionController">
						<div ng-show="message" class="alert alert-success" role="alert">{{message}}</div>
						<form name="subscriptionForm" novalidate role="form">
							<div class="form-group" ng-class="{'has-error': form.email.$invalid}">
								<input type="email" class="form-control" placeholder="E-mail" name="email" ng-model="form.email" required/>
								<div ng-show="subscriptionForm.email.$dirty && subscriptionForm.email.$invalid">
									<p class="error text-danger" ng-show="subscriptionForm.email.$error.required">Indirizzo e-mail obbligatorio</p>
									<p class="error text-danger" ng-show="subscriptionForm.email.$error.email">Indirizzo e-mail non valido</p>
								</div>
							</div>
							<div class="checkbox" ng-class="{'has-error': form.privacy.$invalid}">
								<label>
									<input type="checkbox" name="privacy" ng-model="form.privacy" required/>
									Dichiaro di aver letto l'informativa sulla <a href="privacy.html" target="_blank">privacy*</a>
								</label>
								<p class="error text-danger" ng-show="subscriptionForm.privacy.$dirty && !form.privacy">È necessario accettare la privacy</p>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="info" ng-model="form.info"/>
									Autorizzo l'invio di informazioni commerciali vie email da parte di Esselunga
								</label>
							</div>
							<button type="button" class="btn btn-primary" ng-click="submit(form)" ng-disabled="subscriptionForm.$invalid || isUnchanged(form)">Registrati</button>
						</form>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<p>Copyright © 2014 Esselunga S.p.A. | Tutti i diritti riservati | <a href="privacy.html" target="_blank">Privacy</a> | <a href="http://www.esselunga.it" target="_blank">Esselunga.it</a></p>
	</div>
</body>
</html>
